body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #f1f1f1;
  }

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }  

  #resume {
    padding: 2rem;
    background-color: white;
  }
  
  #resume h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .button {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
  }
  .button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
  }

  iframe {
    display: block;        /* Makes margin auto work */
    margin: 0 auto;        /* Centers horizontally */
  }

  p {
    text-align: center;
  }